





<!-- NOTIFICATION HTML IS STARTING FROM HERE -->

<div class="containerBox" >

     <div class="policyNameContainer">
         <div>
             <p id="policyName" class="notificationAction">You have Create a new Category</p>
             <p id="termConditions" class="NotificationMessage">Rehan with Email(abcd@gamil.com) has sent request for id approval</p>
         </div>
         <div class="actions" id="actionBtn">
            view
         </div>
     </div>
     <div class="policyNameContainer">
         <div>
             <p id="policyName" class="notificationAction">Brands are Categorize</p>
             <p id="termConditions" class="NotificationMessage">Ahmed with Email(abcd@gamil.com) has sent request for order cancel.</p>
         </div>
         <div class="actions" id="actionBtn">
            view
         </div>
     </div>
     <div class="policyNameContainer">
         <div>
             <p id="policyName" class="notificationAction">You Have blocked Ahmed Ali</p>
             <p id="termConditions" class="NotificationMessage">Service Provider has blocked by you.</p>
         </div>
         <div class="actions" id="actionBtn">
            view
         </div>
     </div>
   
 </div>

